<!DOCTYPE html>
<html style="color:#9f9f7c;background-color:#2a0a44;">
 <head>
   <meta charset="UTF-8">
   <title>Homonym</title>
   <link rel="stylesheet" href="/static/tachyons.min.css" type="text/css">
   <link rel="stylesheet" href="/static/main.css" type="text/css">
   <link rel="shortcut icon" href="/static/favicon.ico">
   <script type="text/javascript" src="/static/main.js"></script>
 </head>
 <body onload="load_next_question();" class="flex flex-column">
    <div class="w-100 ma3">
      <h1 class="fl w-70">Welcome to the HOMONYM gameshow!</h1>
      <h2 class="fr w-30">Current Score: 0</h2>
    </div>
    <div class="asc w-60 mh2">
      <p>To win points, all you have to do is listen to the audio below and correctly
      choose the word it represents. The current high score for consequetive points
      is <code class="mh2 b ph2">8<code> </p>
    </div>

    <div class="w-100" id="game_area">
    </div>

 </body>
</html>
